In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the Haberman dataset
df = pd.read_csv('financial_time_series.csv')
df.head(20)

   transaction_id account_id                 date   amount transaction_type
0            TXN1    ACC1003  2023-01-01 00:00:00  2403.89            Debit
1            TXN2    ACC1001  2023-01-01 01:00:00  3746.97           Credit
2            TXN3    ACC1003  2023-01-01 02:00:00  4371.98            Debit
3            TXN4    ACC1003  2023-01-01 03:00:00  2224.91           Credit
4            TXN5    ACC1001  2023-01-01 04:00:00   313.94            Debit
5            TXN6    ACC1001  2023-01-01 05:00:00   892.20            Debit
6            TXN7    ACC1003  2023-01-01 06:00:00   202.22            Debit
7            TXN8    ACC1002  2023-01-01 07:00:00  3300.99           Credit
8            TXN9    ACC1003  2023-01-01 08:00:00  1728.34           Credit
9           TXN10    ACC1003  2023-01-01 09:00:00  2758.15           Credit
10          TXN11    ACC1003  2023-01-01 10:00:00  2517.06           Credit
11          TXN12    ACC1003  2023-01-01 11:00:00   499.48            Debit
12          TXN13    ACC1001  2023-01-01 12:00:00  2075.98            Debit
13          TXN14    ACC1003  2023-01-01 13:00:00  1180.75           Credit
14          TXN15    ACC1002  2023-01-01 14:00:00  2150.16           Credit
15          TXN16    ACC1001  2023-01-01 15:00:00  1097.53           Credit
16          TXN17    ACC1002  2023-01-01 16:00:00  4218.22            Debit
17          TXN18    ACC1002  2023-01-01 17:00:00   953.55           Credit
18          TXN19    ACC1002  2023-01-01 18:00:00  4807.82           Credit
19          TXN20    ACC1002  2023-01-01 19:00:00  2137.95            Debit

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    2000 non-null   object
 1   account_id        2000 non-null   object
 2   date              2000 non-null   datetime64[ns]
 3   amount            2000 non-null   float64
 4   transaction_type  2000 non-null   object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 78.3+ KB

In [3]:
# Convert date column to datetime
df["date"] = pd.to_datetime(df["date"])

In [12]:
df.set_index("date", inplace=True)

In [13]:
# Daily total transaction amount
daily_total = df.resample("D")["amount"].sum()

print(daily_total.head())

date
2023-01-01    58574.71
2023-01-02    63639.09
2023-01-03    52111.96
2023-01-04    55950.05
2023-01-05    51551.93
Freq: D, Name: amount, dtype: float64