In [16]:
# Importing libraries 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
# 
from sklearn.preprocessing import StandardScaler


# Passing training data to a variable
df = pd.read_csv("House_Price_Training_Data.csv")
df.head(10)

,House_Age,Area_sqft,No_of_Bedrooms,No_of_Bathrooms,Distance_from_CityCenter_km,Crime_Rate_Index,Nearby_Schools,Furnishing_Status,Locality_Category,Parking_Space,Price_Lakhs
0,39,4952,4,4,8.39,3.43,5,Unfurnished,Premium,1,333.14
1,29,2570,4,4,17.91,8.43,4,Furnished,Economy,1,179.33
2,15,3349,4,2,5.84,5.48,5,Furnished,Standard,1,280.53
3,43,3751,4,4,17.16,1.69,5,Semi-Furnished,Standard,1,264.43
4,8,4230,5,3,24.28,1.53,1,Furnished,Economy,2,271.06
5,21,2989,5,4,3.25,4.01,1,Semi-Furnished,Standard,2,260.47
6,39,2131,2,1,17.14,8.06,5,Unfurnished,Economy,1,105.93
7,19,3316,1,4,11.65,7.37,2,Unfurnished,Standard,0,166.80
8,23,1515,4,2,21.84,8.10,5,Semi-Furnished,Premium,1,173.57
9,11,1848,2,1,5.25,5.66,5,Unfurnished,Premium,1,146.29

In [17]:
# Defining dependent(y) and independent(X) variables
X = df.drop("Price_Lakhs", axis = 1)
y = df["Price_Lakhs"]

# This is the variable storing the text data

categorical_cols = ["Furnishing_Status", "Locality_Category"]

# This is converting the text data into categories and boolean data to make it recognize the data for the model
X = pd.get_dummies(X, columns=categorical_cols)

X.head(20)

,House_Age,Area_sqft,No_of_Bedrooms,No_of_Bathrooms,Distance_from_CityCenter_km,Crime_Rate_Index,Nearby_Schools,Parking_Space,Furnishing_Status_Furnished,Furnishing_Status_Semi-Furnished,Furnishing_Status_Unfurnished,Locality_Category_Economy,Locality_Category_Premium,Locality_Category_Standard
0,39,4952,4,4,8.39,3.43,5,1,False,False,True,False,True,False
1,29,2570,4,4,17.91,8.43,4,1,True,False,False,True,False,False
2,15,3349,4,2,5.84,5.48,5,1,True,False,False,False,False,True
3,43,3751,4,4,17.16,1.69,5,1,False,True,False,False,False,True
4,8,4230,5,3,24.28,1.53,1,2,True,False,False,True,False,False
5,21,2989,5,4,3.25,4.01,1,2,False,True,False,False,False,True
6,39,2131,2,1,17.14,8.06,5,1,False,False,True,True,False,False
7,19,3316,1,4,11.65,7.37,2,0,False,False,True,False,False,True
8,23,1515,4,2,21.84,8.10,5,1,False,True,False,False,True,False
9,11,1848,2,1,5.25,5.66,5,1,False,False,True,False,True,False
10,11,3587,1,2,17.62,4.96,3,0,True,False,False,False,False,True
11,24,3339,3,2,21.11,2.33,3,2,True,False,False,True,False,False
12,36,835,5,1,23.67,3.95,3,1,True,False,False,False,True,False
13,40,1395,1,2,17.40,4.91,2,1,False,False,True,True,False,False
14,24,4046,3,2,12.93,1.80,2,2,True,False,False,False,False,True
15,3,1351,1,4,15.83,2.99,5,2,False,False,True,True,False,False
16,22,2187,5,3,21.85,6.38,3,0,True,False,False,False,True,False
17,2,2431,5,2,14.69,7.62,2,2,False,True,False,True,False,False
18,24,4246,2,2,1.73,9.99,1,2,False,False,True,True,False,False
19,44,2927,4,2,23.34,9.40,5,2,False,False,True,False,False,True

In [23]:
# Splitting the data into training and testing 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

# Standardization
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)


# Model Generation and Training
model = LinearRegression()
model.fit(X_train_scaled, y_train)

# Test Prediction
y_pred = model.predict(X_test_scaled)

# Evaluation Metrics
mse = mean_squared_error(y_test, y_pred)
# rmse = np.sqrt(mse)
# mae = mean_absolute_error(y_test, y_pred)

print("Mean Squared Error (MSE): ", mse)
# print("Root Mean Squared Error (RMSE): ", rmse, "Lakhs")
# print("Mean Absolute Error (MAE): ", mae, "Lakhs")

Mean Squared Error (MSE):  158.83631746842056

In [22]:

new_data = pd.read_csv("House_Price_NewData.csv")
new_data_enc = pd.get_dummies(new_data,columns= categorical_cols)

new_data_enc_scaled = scaler.transform(new_data_enc)

new_data["Price_Lakhs"] = model.predict(new_data_enc_scaled)
new_data.head(20)

,House_Age,Area_sqft,No_of_Bedrooms,No_of_Bathrooms,Distance_from_CityCenter_km,Crime_Rate_Index,Nearby_Schools,Furnishing_Status,Locality_Category,Parking_Space,Price_Lakhs
0,10,1800,3,2,8.5,4.3,4,Furnished,Premium,2,199.831250
1,35,3200,5,4,15.2,7.1,3,Unfurnished,Economy,1,203.232251
2,5,950,2,1,3.1,2.0,5,Semi-Furnished,Standard,0,112.219337